.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-container--check {
    position: absolute;
    left: 12px;
}

.Icon-container--delete {
    position: absolute;
    top: -24px;
    right: 0;
}

.Icon-container:hover {
    fill: #4CAF50;
}

.Icon-container:hover {
    fill: red;
}